body {
	background-image: url("https://64.media.tumblr.com/2c88fedb9aa717458af1d1a8f0c3f497/tumblr_pwblv6LO2Q1vcnta0o1_1280.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed; 
	color: magenta;
	font-family: Arial;
	margin: 100px 25px
	
}

h1 {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;	
}

div {
	padding: 50px;
	background: rgba(40, 2, 100, 0.5);
	/* rgba(Red, Green, Blue, Alpha/Opacity) */
	color: black;
}
table, th, td {
	color: white;
	border: 2px solid lime;
	text-align: left;
}
a:link {
  color: green;
  background-color: transparent;
}

a:visited {
  color: yellow;
  background-color: transparent;
}

a:hover {
  color: red;
  background-color: transparent;
}

a:active {
  color: white;
  background-color: transparent;
}

