body{
	font-family: arial;
	
}

h1{
	text-align: center;
}

table, th, td{

	width: 100%;
	height: 100%;

}
table{
	border-collapse: collapse;
	border-radius: 25px;
	
}
th, td{
	padding:5px;
	width: 100px;
	
}
a{
	color: olivedrab;
	text-decoration: none;
	font-size:1.3em;
	
}
th{
	background-color: gainsboro;
}
div{
	
	
}
p {
	
}
form {

	line-height: 1.6;
	font-size: 1.4em;
	font-family: "Lucida Console", monospace;
	color: rgba(43, 64, 19, 1);
}


