body{
	background-color: OliveDrab;
	color: ForestGreen;
	font-family: Monaco;
	margin: 25px 25px;
}


h1.a{
	color: FloralWhite;
}

h1.b{
	color: ForestGreen;
}  


table, th, td{
	border: 2px solid ForestGreen;
}

th{
	background-color: AliceBlue;
}

table{
	border-collapse: collapse;
}

th,td {
	padding: 7px;
	text-align: left;
	font-family: Monaco;
}


div.a{ 
	 text-align: center;
}

div.b {
  padding: 25px 50px;	
  background-color: FloralWhite;
}


a.btn{
	background-color: AliceBlue;
	color: ForestGreen;
	padding: 15px 25px;
	display: inline-block;
	border-radius: 25px;
	border-style: solid;
	border-color: lightblue;		
}


