body {
	background-color: black;
	background-image: url("https://image.shutterstock.com/image-vector/horizontal-abstract-vector-background-tender-260nw-1714889263.jpg");
	background-attachment: fixed;
	background-size: 100%; 
	font-family: Courier;
	margin: 100px 25px;
}

h1 {

}

div {
	padding: 50px;
	background: rgba(0, 70, 20, 0.3);
	/* rgba(Red, Green, Blue, Alpha/Opacity) */

	color: black;
}

table, th, td {
	border: 2px solid black;
}

table {
	border-collapse: collapse;
}

th, td {
	padding: 5px;
	text-align: left;
}

