
body {
    background-color: black;
    background-image: url("wall.jpg");
    background-repeat: no-repeat;
    background-size: 100%; 
    background-attachment: fixed;
    color: white;
    font-family: " serif";
    margin: 400px 1000px;
}


