

body {
	background-color: black;
	background-image: url("HTML.png");
	background-repeat: no-repeat;
	background-size: cover; 
	background-attachment: fixed;
	color:black;
	font-family: Verdana;
	margin: 100px 25px;
}

h1 {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;	
}
	
