body {
background-color: black;
color: black;
font-family: courier;
margin: 100px 25px;
background-image: url("https://wallpaperaccess.com/full/2955395.jpg");
background-repeat: no-repeat;
background-size: 100%;
background-attachment: fixed;
}

table, th, td {
	border: 2px solid
}

table {
	border-collapse: collapse;
	padding: 50px;
	background: rgba(150, 150, 150, 0.9);
	color: white;
}

th, td {
	padding: 5px;
	text-align: left;
}

h1, h2, p {
	color: white;
}

a {
	color: red;
}